.addLandlord {
	margin: 50px auto;
	width: 25%;
	background-color: #F0E4E4;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065)
}

.addLandlordForm .landlordInput {
	width: 100%;
	display: flex;
	flex-direction: column;

}

.addLandlordForm .landlordInput label {
	margin-top: 20px;
}


.addLandlordForm .landlordInput input {
	margin-top: 5px;
	padding: 10px;
	border-radius: 15px;
}
